<!doctype html>
<html>
    <head>
        <title>{{ title }} - Microblog</title>
        <style>
            nav {
                margin-top: 10px; 
            }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <hr>
    {% block content %}{% endblock %}
    <hr>
    </body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</html>