{% extends "base.html" %}

{% block content %}
    <body>
        <h1>Hello, {{ user.username }} from {{ user.location}} !</h1>  
        <hr>
        <!-- Example If Statement -->
        {% if user.username == 'Tua' %} 
            <h3>Welcome Back!</h3>
        {% else %}
            <h3>Welcome to Microblog!</h3>
        {% endif %}
        <!-- Example For Loop -->
        {% for post in posts %}
            <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
    </body>
    <!--<img src="vancouver.jpeg" alt="Description of the image"> -->
    <form action="/submit" method="post">
        <label for="name">UserName:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit Here">
</form>
{% endblock %}